@import url('https://fonts.googleapis.com/css?family=Lato:100');

*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Lato', Arial, sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    color:#000;
    background: linear-gradient(-45deg,#EA8D8D , #A890FE, #D8B5FF , #1EAE98 );
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
.sign-up-form{
    width:450px;
    padding:20px;
    position: fixed;
    top : 60%;
    left: 35%;
    text-align:center;
    
}
nav >h1 {
	font-size: 4rem;
    position: absolute;
    top : 10%;
    left :50%;
    border: none;
    padding: 0%;
}
h1{
    font-size: 5rem;
    text-align-last: center;
    border: 3px solid #fff;
    position:fixed;
    top: 50%;
    left:34%;
    transform: translate(-50%,-50%);
    padding: 10rem 15rem;
}
h2{
    font-size: 4rem;
    border: none;
    position: fixed;
    top: 80%;
    left:40%;
    padding: 5rem 5rem;
    
}
form >h2{
    color: #000;
    font-size: 4rem;
    border: 3px solid#fff;
    position: fixed;
    top :35%;
    left:68%;
    padding : 3rem;
    text-align: center;
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}